/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
box-sizing: border-box;
}

body{
    position: relative;
    background-image: url(../img/Fondo-web-sattva.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Libre Franklin', sans-serif;
}

.contain {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #c4d69c;
    overflow: hidden;
}

.layer {
position: absolute;
top: 0;
left: -50%;
width: 100%;
height: 100vh;
}

.layer.layer1 {
    background: #e1306c;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    transform: skewX(-45deg) translateX(-400px);
    z-index: 0;
}

.layer.layer2 {
    background: #05D47C;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    transform: skewX(-45deg) translateX(-500px);
    z-index: 3;
}

.layer.layer3 {
    background: #1878C7;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    transform: skewX(-45deg) translateX(-600px);
    z-index: 5;
}

.layer.layer4 {
    background: #c4d69c;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    transform: skewX(-45deg) translateX(-700px);
    z-index: 10;
}

.layer.layer5 {
    background: #1878C7;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    transform: skewX(45deg) translateX(-400px);
    z-index: 2;
}

.layer.layer6 {
    background: #e1306c;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    transform: skewX(45deg) translateX(-500px);
    z-index: 4;
}

.layer.layer7 {
    background: #05D47C;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    transform: skewX(45deg) translateX(-600px);
    z-index: 6;
}

.layer.layer8 {
    background: #c4d69c;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    transform: skewX(45deg) translateX(-700px);
    z-index: 8;
}

.layer.layer9 {
    background: transparent;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    transform: skewX(45deg) translateX(-700px);
    z-index: 10;
}

.img-device {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 14;
    display: none;
}


header{
    background-color: #64a223;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 13;
}

.cabecera {
    display: none;
    justify-content: space-between;
}

.lyrics-logo {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
}

img#logo{
    background-color: #ffffff;
    height: 350px;
    border-radius: 50%;
    float: left;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 120px;
    transition: all .5s ease-in-out;
}

nav{
    display: flex;
    margin: auto;
    margin-top: 0;
    line-height: 80px;
    justify-content: center;
    width: max-content;
}

ul{
    display: block;
    float: left;
    list-style: none;
    font-size: 18px;
}

li{
    float: left;
    text-transform: uppercase;
    width: max-content;
    font-weight: bold;
}


li a{
    text-decoration: none;
    color: #ffffff;
    padding: 25px;
    border-radius: 5px;
}

nav ul li a:hover,
.nav-menu-link_active {
    background: #A5FFD6;
    box-shadow: 0px 2px 0px #26DA87;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
    transition: ease-in-out .5s;
}

.animacion {
    transform: rotate(90deg);
}



a:active{
    color:#3F4645;
}

html{
scroll-behavior: smooth;
}


.N{
    display: inline-block;
    font-weight: bold;
}

#body{
    width: 100%;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
background: rgba(0, 237, 7, 0.5);
border-radius: 50px;
border-right: 2px solid #fff;
}

h2{
    font-size: 30px;
}


.nuestrasmarcas{
    padding: 20px;
    width: 100%;
}

.containermarcas{
    background-color: #fff;
    display: flex;
    justify-content: center;
}


.nuestrasmarcasid{
    width: 100%;
    padding: 35px;
}

.contacto{
  width: 100%;
  padding: 35px;
}

.nosotros{
    width: 100%;
    display: block;
    background-color: #FEFFA7;
    padding: 20px;
}

.nosotrosid{
    width: 100%;
    padding: 35px;
}

.container {
    background-color: #ffffff;
    width: 100%;
    margin-top: 80px;
}

.item{
    display: inline-block;
    padding: 40px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    vertical-align: middle;
}

#allsitems{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 10px;
}

.fa-truck, .fa-box, .fa-id-badge, .fa-people-carry {
    color: #64a223;
    font-size: 100px;
    margin-bottom: 30px;
}

.item:hover{
    transform: rotate(3deg) scale(1.1);
}

.beneficios{
    padding: 40px;
    width: 100%;
}



input, textarea{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #00CD08;
    border-radius: 5px;
}

select{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #00CD08;
    border-radius: 5px;
}


input:focus, textarea:focus {
    border: 2px solid #93FF97;

}

textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 90px;
}

input[type= "submit"] {
    background: #2DFD9D;
    border: none;
    margin-bottom: 0px;
}

input[type= "submit"]:hover {
    background: #A5FFD6;
    cursor: pointer;
}

.cajatexto::-webkit-scrollbar {
    width: 10px;
}

.cajatexto::-webkit-scrollbar-thumb {
background: rgba(0, 237, 7, 0.5);
border-radius: 50px;
border-right: 2px solid #fff;
}

.parrafoform{
    display: block;
    font-size: 20px;
    padding: 8px;
}

.fa-envelope{
    color: #ffffff;
    display: block;
    font-size: 25px;
}

.formulario{
    background-color: #64a223;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 25%;
    padding: 20px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    z-index: 0;
    color: #ffffff;
}

#button-up {
    width: 60px;
    height: 60px;
    background-color: #c4d69c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
    z-index: 1;
}

#button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}

.fa-chevron-up {
    color: #ffffff;
}


#footer{
width: 100%;
margin: auto;
margin-top: 50px;
position: relative;
color: #000;
padding: 100px 20px 100px;
display: grid;
place-items: center;
background: #98FB98;
}

.wrapper{
    display: inline-flex;
}

.wrapper .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.wrapper .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}


.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .icon:hover span {
    color: #fff;
}

.instagram a {
    color: #e1306c;
}

.whatsapp a {
    color: #00bb2d;
}


.wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    color: #fff;
    background: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
    top: -60px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
    background: #e1306c;
}

.wrapper .whatsapp:hover span,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before{
    background: #00bb2d;
}


@media screen and (max-width: 1105px) {

    a #logo {
        display: none;
    }

    .img-device {
        position: absolute;
        background-color: #ffffff;
        border-radius: 50%;
        left: 80%;
        top: 50%;
        transform: translate(-80%, -50%);
        z-index: 14;
        display: flex;
    }
 
}

@media screen and (max-width: 768px) {

    header{
        height: 60px;
    }

    nav{
        flex-direction: column;
        margin: auto;
        margin-top: 0;
        line-height: 60px;
        background-color: #c4d69c;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    ul{
        list-style: none;
        font-size: 18px;
    }
    
    li{
        float: none;
        line-height: 70px;
        margin: auto;
        
    }
    
    
    nav ul li a:hover,
    .nav-menu-link_active {
        background: none;
        box-shadow: none;
        color: #83c5f7;
    }

    .cabecera {
        display: flex;
        justify-content: space-between;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .layer.layer1 {
        background: #e1306c;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
        transform: skewX(-45deg) translateX(-200px);
        z-index: 0;
    }
    
    .layer.layer2 {
        background: #05D47C;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
        transform: skewX(-45deg) translateX(-300px);
        z-index: 3;
    }
    
    .layer.layer3 {
        background: #1878C7;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
        transform: skewX(-45deg) translateX(-400px);
        z-index: 5;
    }
    
    .layer.layer4 {
        background: #c4d69c;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
        transform: skewX(-45deg) translateX(-500px);
        z-index: 10;
    }
    
    .layer.layer5 {
        background: #1878C7;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
        transform: skewX(45deg) translateX(-200px);
        z-index: 2;
    }
    
    .layer.layer6 {
        background: #e1306c;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
        transform: skewX(45deg) translateX(-300px);
        z-index: 4;
    }
    
    .layer.layer7 {
        background: #05D47C;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
        transform: skewX(45deg) translateX(-400px);
        z-index: 6;
    }
    
    .layer.layer8 {
        background: #c4d69c;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
        transform: skewX(45deg) translateX(-500px);
        z-index: 8;
    }

    .img-device {
        position: absolute;
        background-color: #ffffff;
        border-radius: 50%;
        left: 80%;
        top: 50%;
        transform: translate(-80%, -50%);
        z-index: 14;
        display: flex;
    }
    

    
}

@media screen and (max-width: 950px) {

    .formulario{
        width: 80%;
    }

    input, select, textarea{
        width: 70%;
    }


    .item{
        width: 100%;
        float: none;
    }

    .img-device {
        position: absolute;
        background-color: #ffffff;
        border-radius: 50%;
        left: 75%;
        top: 50%;
        transform: translate(-75%, -50%);
        z-index: 14;
        display: flex;
    }

    

}